<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
  <link rel="stylesheet" href="/css/partner/partnerPage.css\"/>
</th:block>

<th:block layout:fragment="content">

  <div class="allContainer">
    <div class="partnerInfor">
      <div class="miniInfor">

        <div class="storeInfor">
          <label th:text="${partnerPageDTO.storeName}" class="storeName"></label><br>

          <p class="comment">위치</p><label th:text="${partnerPageDTO.store_location}" class="location"></label><br>
          <p class="comment">영업시간</p><label th:text="${partnerPageDTO.businessHours}" class="businessHour"></label><br>
          <p class="comment">전화번호</p><label th:text="${partnerPageDTO.phoneNum}" class="phoneNum"></label><br>

          <a href=""><p class="comment">자체 홈페이지로 바로가기</p></a><br>
          <p class="comment">가게 특이사항</p><label th:text="${partnerPageDTO.specificDetails}" class="feature"></label><br>
        </div>

        <div class="storeNotice">
          <label>사장님의 한마디</label>

          <div class="noticeBox">
            <button class="modificationBtn"></button>
            <div class="noticeCommentBox">
              <label th:text="${partnerPageDTO.partnerNotice}" class="noticeComment"></label>
            </div>
          </div>
        </div>
      </div>

      <div class="menuBox">
        <div class="menuPhotoBox">
          <img th:src="${partnerPageDTO.storeImage}" />
        </div>

        <div class="storePostBtn">
          <button class="PostBtn"></button>
        </div>
      </div><!--.menuBox-->
    </div><!--partnerInfor-->

    <div class="photoContainer">
      <label th:text="${partnerPageDTO.storeName}" class="storePhotoLabel"></label><label class="storePhotoLabel"> 사진</label>
      <div th:each="storePhotoUrl:${partnerPageDTO.storePhoto}" class="storePhoto">
        <img th:src="${storePhotoUrl.imgUrl}">
      </div>
    </div><!--.photoContainer-->

    <div class="reviewContainer">
      <label th:text="${partnerPageDTO.storeName}" class="storeReviewLabel"></label><label class="storeReviewLabel"> 후기</label>
      <div th:each="storeReviewContent:${partnerPageDTO.storeReview}" class="storeReview">
        <img th:src="${storeReviewContent.imgUrlList[0]}">

        <label th:text="${storeReviewContent.postTitle}"></label><br>
        <label th:text="${storeReviewContent.postComment}"></label><br>
      </div>
    </div><!--.reviewContainer-->

    <div class="pageInfor">

    </div>
  </div><!--.allContainer-->
</th:block>

</html>