<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

    <meta charset="UTF-8">
    <title>locationForm</title>

    <!--css 가져오기-->
    <th:block layout:fragment="css">
        <link th:href="@{/css/locationForm.css}" rel="stylesheet" type="text/css" />
    </th:block>

<body>
    <h1>장소 등록 페이지(게시글)</h1>
    <p>또 시작</p>
</body>
</html>