<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/members/memberForm.css}" />
</th:block>

<th:block layout:fragment="content">
    <div>
        <div class="joinbox">
            <h1 class="joinment">회원가입 🧚🏼‍♂️</h1>

            <div id="allInfor" style="background-color: #f7f7f7">
                <div class="member">
                    <div class="memberselect">
                        <h2 class="userform">회원유형</h2>

                        <div class="indicBox">
                            <input type="radio" name="user" class="indic" id="indic" />
                            <p for="indic">개인회원</p>
                        </div>

                        <div class="indicBox">
                            <input type="radio" name="user" class="partner" id="partner" />
                            <p for="partner">파트너 회원</p>
                        </div>
                    </div>
                    <!--.memberselect-->

                    <div class="agree">
                        <div class="agreebox1" id="agreebox_indi">
                            <p class="indicAgree">개인회원(아동 및 성인) 동의</p>

                            <div class="agreebox">
                                <input type="checkbox" class="Allcheckbox" id="indickall" />
                                <p class="Allcheckbox2">전체 동의하기</p>
                            </div>

                            <div class="agreebox">
                                <input type="checkbox" class="Allcheckbox" name="indi" id="indick_a" />
                                <p class="Allcheckbox2">이용약관 동의</p>
                                <p class="essentialoption">(필수)</p>
                            </div>

                            <div class="agreebox">
                                <input type="checkbox" class="Allcheckbox" name="indi" id="indick_b" />
                                <p class="Allcheckbox2">개인정보 제 3자 제공동의</p>
                                <p class="essentialoption">(필수)</p>
                            </div>

                            <div class="agreebox">
                                <input type="checkbox" class="Allcheckbox" name="indi" id="indick_c" />
                                <p class="Allcheckbox2">개인정보 수집 및 이용동의</p>
                                <p class="essentialoption">(필수)</p>
                            </div>

                            <div class="agreebox">
                                <input type="checkbox" class="Allcheckbox" name="indi" id="indick_d" />
                                <p class="Allcheckbox2">개인정보 수집 및 이용동의</p>
                                <p class="option">(선택)</p>
                            </div>
                        </div>

                        <div class="agreebox2" id="agreebox_partner">
                            <p class="indicAgree">파트너 회원 동의</p>

                            <div class="agreebox">
                                <input type="checkbox" class="Allcheckbox" id="partckall" />
                                <p class="Allcheckbox2">전체 동의하기</p>
                            </div>

                            <div class="agreebox">
                                <input type="checkbox" class="Allcheckbox" name="part" id="partner_a" />
                                <p class="Allcheckbox2">이용약관 동의</p>
                                <p class="essentialoption">(필수)</p>
                            </div>

                            <div class="agreebox">
                                <input type="checkbox" class="Allcheckbox" name="part" id="partner_b" />
                                <p class="Allcheckbox2">개인정보 제 3자 제공동의</p>
                                <p class="essentialoption">(필수)</p>
                            </div>

                            <div class="agreebox">
                                <input type="checkbox" class="Allcheckbox" name="part" id="partner_c" />
                                <p class="Allcheckbox2">개인정보 수집 및 이용동의</p>
                                <p class="essentialoption">(필수)</p>
                            </div>

                            <div class="agreebox">
                                <input type="checkbox" class="Allcheckbox" name="part" id="partner_d" />
                                <p class="Allcheckbox2">개인정보 수집 및 이용동의</p>
                                <p class="option">(선택)</p>
                            </div>
                        </div>
                    </div>
                    <!--agree-->
                </div>
                <!--.member-->

                <div class="inforInputBox">
                    <form th:object="${individualMemFormDTO}" method="post" action="/members/newIndividual">
                        <div class="inficInfor">
                            <h2 class="indicment">개인회원 정보 💁🏻</h2>

                            <table>
                                <tr>
                                    <td class="td1">성명</td>
                                    <td class="td2">
                                        <input th:field="*{name}" type="text" class="name" id="nameInput"><br>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td1">이메일</td>
                                    <td class="td2_1">
                                        <input type="text" class="email" id="indicemail1" />
                                        <label class="email2">@</label>
                                        <input type="text" class="email" id="indicemail2" /><br />

                                        <input type="hidden" id="indicEmailBox">
                                        <label class="idchk" id="indicEmailchk">* 6~20자 영문 또는 영문, 숫자 조합</label>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td1">비밀번호</td>
                                    <td class="td2_1">
                                        <input th:field="*{password}" type="password" minlength="8" maxlength="20" class="pwd" id="indicPwInput" /><br />
                                        <label class="pwdchk" id="indicPwdChk">* 8~20자 문자, 숫자, 특수문자 조합</label>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td1">비밀번호 확인</td>
                                    <td class="td2_2">
                                        <input type="password" minlength="8" maxlength="20" class="pwd" id="indicPwInputCheck" /><br />
                                        <label class="pwdchk" id="indicPwdDoubleChk"></label>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td1">통신사</td>
                                    <td class="td2_3">
                                        <div class="phonereplacebox">
                                            <input type="radio" class="phonereplace" /><label class="phonereplace2">SKT</label>
                                            <input type="radio" class="phonereplac" /><label class="phonereplace2">KT</label>
                                            <input type="radio" class="phonereplac" /><label class="phonereplace2">LG U+</label>
                                        </div>

                                        <div class="phonereplacebox">
                                            <input type="radio" class="phonereplace" /><label class="phonereplace2">SKT 알뜰폰</label>
                                            <input type="radio" class="phonereplac" /><label class="phonereplace2">KT 알뜰폰</label>
                                            <input type="radio" class="phonereplac" /><label class="phonereplace2">LG U+ 알뜰폰</label>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td1">휴대폰 번호</td>
                                    <td class="td2_2">
                                        <div class="checkitem">
                                            <input th:field="*{phoneNum}" type="text" class="phonecheck" id="indicPhone" value="010-" />
                                            <button class="btn">인증하기</button><br />
                                        </div>
                                        <label class="pwdchk1" id="indicPhoneChk">* 010 - 0000 - 0000 양식에 맞춰 입력</label>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td1">홈페이지 주소</td>
                                    <td class="td2_1">
                                        <div class="array">
                                            <label class="culfosheDomain">http://www.culfoshe.com/</label>
                                            <div class="checkitem1">
                                                <input th:field="*{individualDomain}" type="text" class="domain" id="indicDomain" />
                                                <button class="domainBtn">중복확인</button><br />
                                            </div>
                                        </div>
                                        <label class="pwdchk" id="indicDomainChk"></label>
                                    </td>
                                </tr>
                            </table>

                            <button class="joinbtn" id="indicJoinBtn">개인회원 가입하기</button>
                        </div>
                    </form>
                    <!--.inficInfor-->

                    <form th:object="${partnerMemFormDTO}" method="post" action="/members/newPartner">
                        <div class="partnerInfor">
                            <h2 class="partnerment">파트너회원 정보 👨🏼‍🌾</h2>

                            <table>
                                <tr>
                                    <td class="td3">이메일</td>
                                    <td class="td4_2">
                                        <input type="text" class="email" id="partemail1" />
                                        <label class="email2">@</label>
                                        <input type="text" class="email" id="partemail2" /><br />

                                        <input type="hidden" id="partEmailBox">
                                        <label class="idchk" id="partEmailchk">* 6~20자 영문 또는 영문, 숫자 조합</label>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td3">비밀번호</td>
                                    <td class="td4_1">
                                        <input th:field="*{password}" type="password" minlength="8" maxlength="20" class="pwd" id="partPwInput" /><br />
                                        <label class="pwdchk" id="partPwdChk">* 8~20자 문자, 숫자, 특수문자 조합</label>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td3">비밀번호 확인</td>
                                    <td class="td4_2">
                                        <input type="password" minlength="8" maxlength="20" class="pwd" id="partPwInputCheck" /><br />
                                        <label class="pwdchk" id="partPwdDoubleChk"></label>
                                    </td>
                                </tr>
                            </table>

                            <table class="partnerInformini">
                                <tr>
                                    <td class="td3_1">가게 이름(법인명)</td>
                                    <td class="td4_1">
                                        <input th:field="*{storeName}" type="text" class="company" />
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td3_2">사업자 등록번호</td>
                                    <td class="td4_2">
                                        <div class="checkitem">
                                            <input th:field="*{storeNum}" type="text" maxlength="12" class="id" id="storeNum" />
                                            <button class="btn">중복확인</button>
                                        </div>
                                        <label class="numchk" id="numchk">* 000 - 00 - 0000 양식에 맞춰 입력</label>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td3">사업장 소재지</td>
                                    <td class="td4">
                                        <input th:field="*{storeLocation}" type="text" class="storeplace" />
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td3">대표자명</td>
                                    <td class="td4">
                                        <input th:field="*{presidentName}" type="text" class="reprename" />
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td3">담당자명</td>
                                    <td class="td4">
                                        <input th:field="*{name}" type="text" class="managername" />
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td3_3">담당자 전화번호</td>
                                    <td class="td4_3">
                                        <input th:field="*{phoneNum}" type="text" class="managerphone" value="010-" id="partnerPhone" />
                                        <label class="numchk" id="partnerPhoneChk">* 010 - 0000 - 0000 양식에 맞춰 입력</label>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td1">홈페이지 주소</td>
                                    <td class="td2_1">
                                        <div class="array">
                                            <label class="culfosheDomain">http://www.culfoshe.com/</label>
                                            <div class="checkitem1">
                                                <input th:field="*{partnerDomain}" type="text" class="domain" id="partDomain" />
                                                <button class="domainBtn">중복확인</button><br />
                                            </div>
                                        </div>
                                        <label class="pwdchk" id="partDomainChk"></label>
                                    </td>
                                </tr>
                            </table>

                        </div>
                        <!--.partnerInfor-->
                    </form>
                </div>
                <!--.inforInputBox-->

                <div class="indexbox1"></div>
                <div class="indexbox2"></div>
            </div>

            <div class="interestInfor">
                <div class="interestbox">
                    <h2 class="interestment">나의 관심사(선택: 최대 3개)</h2>
                    <div id="selectBoxAll">
                        <div class="selectbox">
                            <button class="ckeckInterest1" id="interest1" onclick="cssChange1()">
                                #예술
                            </button>
                            <button class="ckeckInterest" id="interest2" onclick="cssChange2()">
                                #공연
                            </button>
                            <button class="ckeckInterest" id="interest3" onclick="cssChange3()">
                                #전시
                            </button>
                            <button class="ckeckInterest" id="interest4" onclick="cssChange4()">
                                #독서
                            </button>
                            <button class="ckeckInterest" id="interest5" onclick="cssChange5()">
                                #음악
                            </button>
                            <button class="ckeckInterest6" id="interest6" onclick="cssChange6()">
                                #원데이클래스
                            </button>
                        </div>

                        <div class="selectbox">
                            <button class="ckeckInterest2" id="interest7">#공예</button>
                            <button class="ckeckInterest" id="interest8">#요리</button>
                            <button class="ckeckInterest3" id="interest9">#베이킹</button>

                            <button class="ckeckInterest" id="interest10">#푸드</button>
                            <button class="ckeckInterest" id="interest11">#카페</button>
                            <button class="ckeckInterest3" id="interest12">#음식점</button>
                            <button class="ckeckInterest" id="interest13">#숙박</button>
                        </div>

                        <div class="selectbox">
                            <button class="ckeckInterest4_1" id="interest14">
                                #액티비티
                            </button>
                            <button class="ckeckInterest4" id="interest15">
                                #아웃도어
                            </button>
                            <button class="ckeckInterest4" id="interest16">
                                #피트니스
                            </button>
                            <button class="ckeckInterest3" id="interest17">#스포츠</button>
                            <button class="ckeckInterest5" id="interest18">
                                #수상레포츠
                            </button>
                        </div>
                    </div>
                </div>
                <!--.interestbox1-->

                <div class="interestbox">
                    <h2 class="interestlocal">관심 지역(선택: 최대 3개)</h2>
                    <div>
                        <div class="arraybox1">
                            <div class="array">
                                <input type="radio" class="phonereplace" />
                                <p class="phonereplace2">서울특별시</p>
                            </div>

                            <div class="array">
                                <input type="radio" class="phonereplac" />
                                <p class="phonereplace2">인천광역시</p>
                            </div>

                            <div class="array">
                                <input type="radio" class="phonereplac" />
                                <p class="phonereplace2">부산광역시</p>
                            </div>

                            <div class="array">
                                <input type="radio" class="phonereplac" />
                                <p class="phonereplace2">대구광역시</p>
                            </div>

                            <div class="array">
                                <input type="radio" class="phonereplac" />
                                <p class="phonereplace2">대전광역시</p>
                            </div>

                            <div class="array">
                                <input type="radio" class="phonereplac" />
                                <p class="phonereplace2">울산광역시</p>
                            </div>
                        </div>
                        <br />

                        <div class="arraybox2">
                            <div class="array">
                                <input type="radio" class="phonereplace" />
                                <p class="phonereplace2">광주광역시</p>
                            </div>

                            <div class="array">
                                <input type="radio" class="phonereplac" />
                                <p class="phonereplace2">세종특별자치시</p>
                            </div>

                            <div class="array">
                                <input type="radio" class="phonereplac" />
                                <p class="phonereplace2">경기도</p>
                            </div>

                            <div class="array">
                                <input type="radio" class="phonereplac" />
                                <p class="phonereplace2">강원도</p>
                            </div>

                            <div class="array">
                                <input type="radio" class="phonereplac" />
                                <p class="phonereplace2">경상도</p>
                            </div>

                            <div class="array">
                                <input type="radio" class="phonereplac" />
                                <p class="phonereplace2">전라도</p>
                            </div>

                            <div class="array">
                                <input type="radio" class="phonereplac" />
                                <p class="phonereplace2">충청도</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--.interestbox2-->
            </div>
            <!--.interestInfor-->


            <button class="joinbtn" id="partJoinBtn">파트너회원 가입하기</button>
        </div>
        <!--.joinbox-->
    </div>
</th:block>

<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/script/members/memberForm.js}"></script>
</th:block>

</html>
