<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:s="http://www.springframework.org/security/tags"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/members/memberForm.css}" />
</th:block>

<th:block layout:fragment="content">
    <div>
        <div class="joinbox">
            <h1 class="joinment">회원가입 🧚🏼‍♂️</h1>

            <div id="allInfor" style="background-color: #f7f7f7">
                <div class="member">
                    <div class="memberselect">
                        <h2 class="userform">회원유형</h2>

                        <div class="indicBox">
                            <input type="radio" name="user" class="indic" id="indic" />
                            <p for="indic">개인회원</p>
                        </div>

                        <div class="indicBox">
                            <input type="radio" name="user" class="partner" id="partner" />
                            <p for="partner">파트너 회원</p>
                        </div>
                    </div>
                    <!--.memberselect-->

                    <div class="agree">
                        <div class="agreebox1" id="agreebox_indi">
                            <p class="indicAgree">개인회원(아동 및 성인) 동의</p>

                            <div class="agreebox">
                                <input type="checkbox" class="Allcheckbox" id="indickall" />
                                <p class="Allcheckbox2">전체 동의하기</p>
                            </div>

                            <div class="agreebox">
                                <input type="checkbox" class="Allcheckbox" name="indi" id="indick_a" />
                                <p class="Allcheckbox2">이용약관 동의</p>
                                <p class="essentialoption">(필수)</p>
                            </div>

                            <div class="agreebox">
                                <input type="checkbox" class="Allcheckbox" name="indi" id="indick_b" />
                                <p class="Allcheckbox2">개인정보 제 3자 제공동의</p>
                                <p class="essentialoption">(필수)</p>
                            </div>

                            <div class="agreebox">
                                <input type="checkbox" class="Allcheckbox" name="indi" id="indick_c" />
                                <p class="Allcheckbox2">개인정보 수집 및 이용동의</p>
                                <p class="essentialoption">(필수)</p>
                            </div>

                            <div class="agreebox">
                                <input type="checkbox" class="Allcheckbox" name="indi" id="indick_d" />
                                <p class="Allcheckbox2">개인정보 수집 및 이용동의</p>
                                <p class="option">(선택)</p>
                            </div>
                        </div>

                        <div class="agreebox2" id="agreebox_partner">
                            <p class="indicAgree">파트너 회원 동의</p>

                            <div class="agreebox">
                                <input type="checkbox" class="Allcheckbox" id="partckall" />
                                <p class="Allcheckbox2">전체 동의하기</p>
                            </div>

                            <div class="agreebox">
                                <input type="checkbox" class="Allcheckbox" name="part" id="partner_a" />
                                <p class="Allcheckbox2">이용약관 동의</p>
                                <p class="essentialoption">(필수)</p>
                            </div>

                            <div class="agreebox">
                                <input type="checkbox" class="Allcheckbox" name="part" id="partner_b" />
                                <p class="Allcheckbox2">개인정보 제 3자 제공동의</p>
                                <p class="essentialoption">(필수)</p>
                            </div>

                            <div class="agreebox">
                                <input type="checkbox" class="Allcheckbox" name="part" id="partner_c" />
                                <p class="Allcheckbox2">개인정보 수집 및 이용동의</p>
                                <p class="essentialoption">(필수)</p>
                            </div>

                            <div class="agreebox">
                                <input type="checkbox" class="Allcheckbox" name="part" id="partner_d" />
                                <p class="Allcheckbox2">개인정보 수집 및 이용동의</p>
                                <p class="option">(선택)</p>
                            </div>
                        </div>
                    </div>
                    <!--agree-->
                </div>
                <!--.member-->

                <div class="inforInputBox">
                    <form th:object="${individualMemFormDTO}" action="/members/newIndividual" method="post">
                        <div class="inficInfor" id="inficInfor">
                            <h2 class="indicment">개인회원 정보 💁🏻</h2>

                            <table class="inforInput">
                                <tr>
                                    <td class="td1">성명</td>
                                    <td class="td2">
                                        <input th:field="*{name}" type="text" class="name checkIndicInput" id="nameInput" /><br />
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td1">이메일</td>
                                    <td class="td2_1">
                                        <input type="text" class="email" id="indicemail1" />
                                        <label class="email2">@</label>
                                        <input type="text" class="email" id="indicemail2" /><br />

                                        <input th:field="*{email}" type="hidden" id="indicEmailBox" class="checkIndicInput">
                                        <label class="idchk" id="indicEmailchk">* 6~20자 영문 또는 영문, 숫자 조합</label>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td1">비밀번호</td>
                                    <td class="td2_1">
                                        <input th:field="*{password}" type="password" minlength="8" maxlength="20" class="pwd checkIndicInput" id="indicPwInput" /><br />
                                        <label class="pwdchk" id="indicPwdChk">* 8~20자 문자, 숫자, 특수문자 조합</label>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td1">비밀번호 확인</td>
                                    <td class="td2_2">
                                        <input type="password" minlength="8" maxlength="20" class="pwd checkIndicInput" id="indicPwInputCheck" /><br />
                                        <label class="pwdchk" id="indicPwdDoubleChk"></label>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td1">휴대폰 번호</td>
                                    <td class="td2_2">
                                        <input th:field="*{phoneNum}" type="text" class="pwd checkIndicInput" id="indicPhone" value="010-" /><br>
                                        <label class="pwdchk1" id="indicPhoneChk">* 010 - 0000 - 0000 양식에 맞춰 입력</label>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td1">홈페이지 주소</td>
                                    <td class="td2_1">
                                        <div class="array">
                                            <label class="culfosheDomain">http://www.culfoshe.com/</label>
                                            <div class="checkitem1">
                                                <input th:field="*{individualDomain}" type="text" class="domain checkIndicInput" id="indicDomain" />
                                                <button class="domainBtn" id="indicDomainBtn">중복확인</button><br />

                                                <input type="hidden" id="checkIndicDuplication">
                                            </div>
                                        </div>
                                        <label class="pwdchk" id="indicDomainChk"></label>
                                    </td>
                                </tr>

                            </table>
                        </div>

                        <div class="interestInfor" id="interestInfor">
                            <div class="interestbox">
                                <h2 class="interestment">나의 관심사(선택: 최대 3개)</h2>
                                <div th:field="*{interest}" id="selectBoxAll">
                                    <div class="selectbox">
                                        <input type="checkbox" name="selectOption" th:field="*{interest}" th:value="art" id="InterestChkBox1" class="InterestChkBox"/>
                                        <label class="ckeckInterest1" for="InterestChkBox1" id="interest1">#예술</label>

                                        <input type="checkbox" name="selectOption" th:field="*{interest}" th:value="show" id="InterestChkBox2" class="InterestChkBox"/>
                                        <label class="ckeckInterest" for="InterestChkBox2" id="interest2">#공연</label>

                                        <input type="checkbox" name="selectOption" th:field="*{interest}" th:value="exhibit" id="InterestChkBox3" class="InterestChkBox"/>
                                        <label class="ckeckInterest" for="InterestChkBox3" id="interest3">#전시</label>

                                        <input type="checkbox" name="selectOption" th:field="*{interest}" th:value="reading" id="InterestChkBox4" class="InterestChkBox"/>
                                        <label class="ckeckInterest" for="InterestChkBox4" id="interest4">#독서</label>

                                        <input type="checkbox" name="selectOption" th:field="*{interest}" th:value="music" id="InterestChkBox5" class="InterestChkBox"/>
                                        <label class="ckeckInterest" for="InterestChkBox5" id="interest5">#음악</label>

                                        <input type="checkbox" name="selectOption" th:field="*{interest}" th:value="onedayclass" id="InterestChkBox6" class="InterestChkBox"/>
                                        <label class="ckeckInterest6" for="InterestChkBox6" id="interest6">#원데이클래스</label>
                                    </div>

                                    <div class="selectbox">
                                        <input type="checkbox" name="selectOption" th:field="*{interest}" th:value="crafts" id="InterestChkBox7" class="InterestChkBox"/>
                                        <label class="ckeckInterest2" for="InterestChkBox7" id="interest7">#공예</label>

                                        <input type="checkbox" name="selectOption" th:field="*{interest}" th:value="cooking" id="InterestChkBox8" class="InterestChkBox"/>
                                        <label class="ckeckInterest" for="InterestChkBox8" id="interest8">#요리</label>

                                        <input type="checkbox" name="selectOption" th:field="*{interest}" th:value="baking" id="InterestChkBox9" class="InterestChkBox"/>
                                        <label class="ckeckInterest3" for="InterestChkBox9" id="interest9">#베이킹</label>

                                        <input type="checkbox" name="selectOption" th:field="*{interest}" th:value="food" id="InterestChkBox10" class="InterestChkBox"/>
                                        <label class="ckeckInterest" for="InterestChkBox10" id="interest10">#푸드</label>

                                        <input type="checkbox" name="selectOption" th:field="*{interest}" th:value="cafe" id="InterestChkBox11" class="InterestChkBox"/>
                                        <label class="ckeckInterest" for="InterestChkBox11" id="interest11">#카페</label>

                                        <input type="checkbox" name="selectOption" th:field="*{interest}" th:value="foodstore" id="InterestChkBox12" class="InterestChkBox"/>
                                        <label class="ckeckInterest3" for="InterestChkBox12" id="interest12">#음식점</label>

                                        <input type="checkbox" name="selectOption" th:field="*{interest}" th:value="accommodation" id="InterestChkBox13" class="InterestChkBox"/>
                                        <label class="ckeckInterest" for="InterestChkBox13" id="interest13">#숙박</label>
                                    </div>

                                    <div class="selectbox">
                                        <input type="checkbox" name="selectOption" th:field="*{interest}" th:value="activity" id="InterestChkBox14" class="InterestChkBox"/>
                                        <label class="ckeckInterest4_1" for="InterestChkBox14" id="interest14">#액티비티</label>

                                        <input type="checkbox" name="selectOption" th:field="*{interest}" th:value="outdoors" id="InterestChkBox15" class="InterestChkBox"/>
                                        <label class="ckeckInterest4" for="InterestChkBox15" id="interest15">#아웃도어</label>

                                        <input type="checkbox" name="selectOption" th:field="*{interest}" th:value="fitness" id="InterestChkBox16" class="InterestChkBox"/>
                                        <label class="ckeckInterest4" for="InterestChkBox16" id="interest16">#피트니스</label>

                                        <input type="checkbox" name="selectOption" th:field="*{interest}" th:value="sports" id="InterestChkBox17" class="InterestChkBox"/>
                                        <label class="ckeckInterest3" for="InterestChkBox17" id="interest17">#스포츠</label>

                                        <input type="checkbox" name="selectOption" th:field="*{interest}" th:value="watersports" id="InterestChkBox18" class="InterestChkBox"/>
                                        <label class="ckeckInterest5" for="InterestChkBox18" id="interest18">#수상레포츠</label>
                                    </div>
                                </div>
                            </div>
                            <!--.interestbox1-->

                            <div class="interestbox">
                                <h2 class="interestlocal">관심 지역(선택: 최대 3개)</h2>
                                <div th:field="*{interestArea}" class="arraybox">
                                    <div class="arraybox1">
                                        <div class="array">
                                            <input type="checkbox" class="phonereplace" name="interestArea" th:field="*{interestArea}" th:value="seoul" onclick="selectLimitArea(this)"/>
                                            <p class="phonereplace2">서울특별시</p>
                                        </div>

                                        <div class="array">
                                            <input type="checkbox" class="phonereplac" name="interestArea" th:field="*{interestArea}" th:value="incheon" onclick="selectLimitArea(this)"/>
                                            <p class="phonereplace2">인천광역시</p>
                                        </div>

                                        <div class="array">
                                            <input type="checkbox" class="phonereplac" name="interestArea" th:field="*{interestArea}" th:value="busan" onclick="selectLimitArea(this)"/>
                                            <p class="phonereplace2">부산광역시</p>
                                        </div>

                                        <div class="array">
                                            <input type="checkbox" class="phonereplac" name="interestArea" th:field="*{interestArea}" th:value="daegu" onclick="selectLimitArea(this)"/>
                                            <p class="phonereplace2">대구광역시</p>
                                        </div>

                                        <div class="array">
                                            <input type="checkbox" class="phonereplac" name="interestArea" th:field="*{interestArea}" th:value="deajeon" onclick="selectLimitArea(this)"/>
                                            <p class="phonereplace2">대전광역시</p>
                                        </div>

                                        <div class="array">
                                            <input type="checkbox" class="phonereplac" name="interestArea" th:field="*{interestArea}" th:value="ulsan" onclick="selectLimitArea(this)"/>
                                            <p class="phonereplace2">울산광역시</p>
                                        </div>
                                    </div>
                                    <br />

                                    <div class="arraybox2">
                                        <div class="array">
                                            <input type="checkbox" class="phonereplace" name="interestArea" th:field="*{interestArea}" th:value="gwangju" onclick="selectLimitArea(this)"/>
                                            <p class="phonereplace2">광주광역시</p>
                                        </div>

                                        <div class="array">
                                            <input type="checkbox" class="phonereplac" name="interestArea" th:field="*{interestArea}" th:value="sejong" onclick="selectLimitArea(this)"/>
                                            <p class="phonereplace2">세종특별자치시</p>
                                        </div>

                                        <div class="array">
                                            <input type="checkbox" class="phonereplac" name="interestArea" th:field="*{interestArea}" th:value="gyeonggido" onclick="selectLimitArea(this)"/>
                                            <p class="phonereplace2">경기도</p>
                                        </div>

                                        <div class="array">
                                            <input type="checkbox" class="phonereplac" name="interestArea" th:field="*{interestArea}" th:value="gangwondo" onclick="selectLimitArea(this)"/>
                                            <p class="phonereplace2">강원도</p>
                                        </div>

                                        <div class="array">
                                            <input type="checkbox" class="phonereplac" name="interestArea" th:field="*{interestArea}" th:value="gyeongsangdo" onclick="selectLimitArea(this)"/>
                                            <p class="phonereplace2">경상도</p>
                                        </div>

                                        <div class="array">
                                            <input type="checkbox" class="phonereplac" name="interestArea" th:field="*{interestArea}" th:value="jeonraado" onclick="selectLimitArea(this)"/>
                                            <p class="phonereplace2">전라도</p>
                                        </div>

                                        <div class="array">
                                            <input type="checkbox" class="phonereplac" name="interestArea" th:field="*{interestArea}" th:value="chungcheongdo" onclick="selectLimitArea(this)"/>
                                            <p class="phonereplace2">충청도</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--.interestbox2-->

                            <button type="submit" class="indic_joinbtn" id="indicJoinBtn">개인회원 가입하기</button>
                            <input type="hidden" th:name="${_csrf.parameterName}"  th:value="${_csrf.token}"/>

                        </div>
                        <!--.interestInfor-->
                    </form>
                    <!--.inficInfor-->

                    <form th:object="${partnerMemFormDTO}" action="/members/newPartner" method="post">
                        <div class="partnerInfor" id="partnerInfor">
                            <h2 class="partnerment">파트너회원 정보 👨🏼‍🌾</h2>

                            <table>
                                <tr>
                                    <td class="td3">이메일</td>
                                    <td class="td4_2">
                                        <input type="text" class="email" id="partemail1" />
                                        <label class="email2">@</label>
                                        <input type="text" class="email" id="partemail2" /><br />

                                        <input th:field="*{email}" class="checkpartInput" type="hidden" id="partEmailBox"/>
                                        <label class="idchk" id="partEmailchk">* 6~20자 영문 또는 영문, 숫자 조합</label>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td3">비밀번호</td>
                                    <td class="td4_1">
                                        <input th:field="*{password}" type="password" minlength="8" maxlength="20" class="pwd checkpartInput" id="partPwInput" /><br />
                                        <label class="pwdchk" id="partPwdChk">* 8~20자 문자, 숫자, 특수문자 조합</label>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td3">비밀번호 확인</td>
                                    <td class="td4_2">
                                        <input type="password" minlength="8" maxlength="20" class="pwd checkpartInput" id="partPwInputCheck" /><br />
                                        <label class="pwdchk" id="partPwdDoubleChk"></label>
                                    </td>
                                </tr>
                            </table>

                            <table class="partnerInformini">
                                <tr>
                                    <td class="td3_1">가게 이름(법인명)</td>
                                    <td class="td4_1">
                                        <input th:field="*{storeName}" type="text" class="company checkpartInput" />
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td3_2">사업자 등록번호</td>
                                    <td class="td4_2">
                                        <div class="checkitem2">
                                            <input th:field="*{storeNum}" type="text" class="id checkpartInput" id="storeNum">
                                            <button type="button" class="btn" id="storeNumChkBtn">중복확인</button>
                                        </div>

                                        <label class="numchk" id="storeNumChk">* 양식에 맞춰 10개의 숫자를 입력</label>

                                        <input type="hidden" id="checkDuplication">
                                    </td>
                                </tr>
                            </table>

                            <table class="partnerInformini1">
                                <tr>
                                    <td class="td3">사업장 소재지</td>
                                    <td class="td4_4">
                                        <div class="checkitem2">
                                            <input type="text" class="id" id="storePlace" />
                                            <button type="button" class="btn" id="storePlaceChk" onclick="execDaumPostcode()">주소찾기</button>
                                        </div><br>

                                        <input type="text" class="managerphone" id="storePlaceDetails" placeholder="상세주소 입력">

                                        <input th:field="*{storeLocation}" class="checkpartInput" type="hidden" id="storePlaceBox">
                                        <span id="guide" style="color:#999;display:none"></span>
                                    </td>
                                </tr>
                            </table>

                            <table class="partnerInformini">
                                <tr>
                                    <td class="td3">대표자명</td>
                                    <td class="td4">
                                        <input th:field="*{presidentName}" type="text" class="reprename checkpartInput" />
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td3">담당자명</td>
                                    <td class="td4">
                                        <input th:field="*{name}" type="text" class="managername checkpartInput" />
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td3_3">담당자 전화번호</td>
                                    <td class="td4_3">
                                        <input th:field="*{phoneNum}" type="text" class="managerphone checkpartInput" value="010-" id="partnerPhone" />
                                        <label class="numchk" id="partnerPhoneChk">* 010 - 0000 - 0000 양식에 맞춰 입력</label>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td1">홈페이지 주소</td>
                                    <td class="td2_1">
                                        <div class="array">
                                            <label class="culfosheDomain">http://www.culfoshe.com/</label>
                                            <div class="checkitem1">
                                                <input th:field="*{partnerDomain}" type="text" class="domain checkpartInput" id="partDomain" />
                                                <button class="domainBtn" id="partDomainBtn">중복확인</button><br />
                                            </div>
                                        </div>
                                        <label class="pwdchk" id="partDomainChk"></label>
                                        <input type="hidden" id="checkPartnerDuplication">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--.partnerInfor-->

                        <button type="submit" class="part_joinbtn" id="partJoinBtn">파트너회원 가입하기</button>
                        <input type="hidden" th:name="${_csrf.parameterName}"  th:value="${_csrf.token}"/>

                    </form>
                </div>
                <!--.inforInputBox-->

                <div class="indexbox1"></div>
                <div class="indexbox2"></div>
            </div>
        </div>
        <!--.joinbox-->
    </div>
</th:block>

<th:block layout:fragment="script">
    <script type="text/javascript" src="/script/members/memberForm.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript" th:src="@{/script/members/postcode.v2.js}"></script>
</th:block>

</html>
