<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/layout1}">

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/members/memberLoginForm.css}" />
    </th:block>

<th:block layout:fragment="content">
    <form role="form" method="post" action="/members/login">

        <div class="All_login">
            <div class="mainlogin">
                <p class="login">로그인</p>

                <div class="loginbox">


                        <div class="id_pwd">
                            <input type="email" name="email" class="idbox" placeholder="이메일을 입력해주세요." minlength="6" maxlength="20"><br>
                            <input type="password" name="password" class="pwdbox" placeholder="비밀번호를 입력해주세요." minlength="8" maxlength="20">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                            <button type="submit" class="loginbtn">로그인</button>
                        </div>


                    <div class="find_login">
                        <a href="">아이디 찾기</a>
                        <div class="miniline"></div>
                        <a href="">비밀번호 찾기</a>
                        <div class="miniline"></div>
                        <a onClick="location.href='/members/new'">회원가입</a>
                    </div>

                </div>
            </div><!--.mainlogin-->

            <div class="sublogin">
                <p class="login2">간편 로그인</p>

                <div class="sublogin_icon">
                    <a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=aafd81468e27c350bac9bfd4b9111489&redirect_uri=http://localhost:8000/members/login/kakao" class="Web_icon"><img src="/img/kakaoLoginBtn.png" alt="" height="38px"></a>
                    <a href="" class="Web_icon"><img src="/img/naverLoginBtn.png" alt="" height="38px"></a>
                    <a href="/oauth2/authorization/google" class="Web_icon" role="button"><img src="/img/googleLoginBtn.png" alt="" height="38px"></a>
                </div>
            </div>
            <!--.sublogin-->
        </div>
        <!--.All_login-->

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>
</th:block>

</html>