@charset "UTF-8";

.border-search {
    width: 1500px;
    margin : 0 auto;
}

.flex {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 50%;
}

.search-row {
    display: flex;
}

.space-evenly {
    margin-top : 20px;
    justify-content: space-evenly;
}

.form-set {
    width: 890px;
    height: 60px;
    margin-left : 20px;
    margin-right : 20px;

    text-align : center;
    font-size : 20px;
}

.btn {
    width: 100px;
    height: 60px;
    margin-right : 20px;

    font-size : 25px;
    background-color : yellowgreen;
    border-color: yellowgreen;;
}

.btn:hover {
    color: #fff;
    background-color : green;
    border-color: green;
}

.search-cate {
    width: 120px;
    height: 60px;
    margin-right : 20px;
    text-align : center;
}

.center {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 1100px;
    height: 380px;

    min-width: 800px;
    margin-top: 50px;
    padding : 24px;
}

.col-md-4 {
    overflow: hidden;
}

.col-md-4 img {
    height: 330px;
    object-fit : cover;
    border-radius : 5px;

    position: relative;
    left: 11px;
}

.col-md-8 {
    display: inline-flex;
    justify-content: center;
    flex-flow: column;
}

svg {
    float : right;
    margin-bottom: 5px;

    color: green;
    font-size: 20px;
    cursor: pointer;
}

svg:hover {
    opacity: 0.8;
    fill: gray;
}

.card-body {
    overflow: hidden;
    height : 267px;
    padding-left: 35px;

    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    word-break: keep-all;

    flex : none;
}

.card-body a {
    text-decoration: none;
    color : black;
}

.card-title {
    margin-bottom: 17px;
}

.card-text {
    margin-bottom: 12px;
}

.end {
    text-align: end;
}

