<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

    <!-- css 연결 -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
        <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css" />
    </th:block>

    <body>
    <!-- main -->
    <div layout:fragment="content" class="main con border">
        <form class="main-1" action="/search/searchList" method="GET" role="search">
            <div class="main-section" th:object="${searchDTO}">

                <div class="main-search">
                    <input th:field="*{searchQuery}" name="searchQuery" type="search" class="main-search-int" placeholder="검색어를 입력하세요.">
                    <button type="button" id="deleteBtn" >
                        <i class="tar fa-solid fa-xmark"></i>
                    </button>
                    <button type="submit" class="main-search-btn">
                        <i class="tar fa-solid fa-magnifying-glass"></i>
                    </button>
                </div> <!--main-search-int-->

                <div class="main-category">
                    <select th:field="*{headerCategory}">
                        <option value="">카테고리</option>
                        <option value="CULTURE">컬처</option>
                        <option value="FOOD">푸드</option>
                        <option value="SHELTER">쉘터</option>
                        <option value="ETC">그 외</option>
                    </select>
                    <select th:field="*{location}">
                        <option value="">지역</option>
                        <option value="seoul">서울</option>
                        <option value="gyeonggi">경기</option>
                        <option value="incheon">인천</option>
                        <option value="gangwon">강원</option>
                        <option value="chungcheong">충정</option>
                        <option value="daejeon">대전</option>
                        <option value="daegu">대구</option>
                        <option value="busan">부산</option>
                        <option value="ulsan">울산</option>
                        <option value="gyeongsang">경상</option>
                        <option value="gwangju">광주</option>
                        <option value="jeonla">전라</option>
                        <option value="jeju">제주</option>
                    </select>
                </div> <!--main-category-->
            </div>

            <div class="center">
                <div><img th:src="@{/img/main_img_1.png}"></div>
                <div><img th:src="@{/img/main_img_2.png}"></div>
                <div><img th:src="@{/img/main_img_3.jpg}"></div>
                <div><img th:src="@{/img/main_img_4.jpg}"></div>
                <div><img th:src="@{/img/main_img_5.jpg}"></div>
            </div>
        </form><!--main-1-->

        <div class="main-2">
            <div id="map"></div>
            <div class="commend con">
                <h2>지역별 추천 👍🏻</h2>
                <br>
                <div class="commend-header">
                    <ul class="commend-li">
                        <li><button id="seoul" onclick="setDir(seoul)">서울</button></li>
                    </ul>
                    <ul class="commend-li">
                        <li><button id="busan" onclick="setDir(busan)">부산</button></li>
                    </ul>
                    <ul class="commend-li">
                        <li><button id="daegu" onclick="setDir(daegu)">대구</button></li>
                    </ul>
                    <ul class="commend-li">
                        <li><button id="ulsan" onclick="setDir(ulsan)">울산</button></li>
                    </ul>
                    <ul class="commend-li">
                        <li><button id="daejeon" onclick="setDir(daejeon)">대전</button></li>
                    </ul>
                    <ul class="commend-li">
                        <li><button id="incheon" onclick="setDir(incheon)">인천</button></li>
                    </ul>
                    <ul class="commend-li">
                        <li><button id="gwangju" onclick="setDir(gwangju)">광주</button></li>
                    </ul>
                    <ul class="commend-li">
                        <li><button id="jeju" onclick="setDir(jeju)">제주</button></li>
                    </ul>
                </div>

                <div class="commend-box" id="reg-box">
                    <i class="fa-solid fa-angle-left commend-box-left-btn" style="color: #247b29;"></i>

                    <th:block th:if="${mainViewDTOs != null}">
                        <div th:each="viewDTO, status: ${mainViewDTOs.getContent()}" id="slider-div">
                            <div>
                                <ul class="commend-box-in commend-box-in-margin">
                                    <a href="#"><img th:src="@{/img/food_1.jpg}">
                                        📍 가게이름 :<li th:text="${viewDTO.storeName}"></li></a>
                                    📍 대표메뉴 :<li th:text="${viewDTO.signatureMenu}"></li>
                                    📍 한줄평 :<li th:text="${viewDTO.postReview}"></li>
                                </ul>
                            </div>
                            <i class="fa-regular fa-bookmark bMark-icon-1" style="color: #000000;"></i>

                            <i class="fa-solid fa-angle-right commend-box-right-btn" style="color: #247b29;"></i>
                        </div>
                    </th:block>

            </div>
        </div> <!-- main-2 -->

        <div class="main-3 con">
            <h2>지도 🗺️</h2>

            <div class="map-box">
                <div id="map1"></div>
            </div>
        </div> <!--main-3-->

    </div><!-- main -->

    <th:block layout:fragment="script">
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script type="text/javascript" th:src="@{/script/index.js}"></script>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1a0eb3f58f1563617955cae9ce9cf0ac"></script>
        <script th:inline="javascript">

            var map;    //안에 있으면 증발해서 밖에 정의해줌

            //setDir()에 매개변수로 들어갈 값들
            let seoul = [37.5430834, 127.0417933];
            let busan = [35.1570630, 129.0631356];
            let daegu = [35.8667192, 128.5906289];
            let ulsan = [35.5395918, 129.3358006];
            let daejeon = [36.3525239, 127.3778334];
            let incheon = [37.4475652, 126.7000750];
            let gwangju = [35.1503822, 126.9108122];
            let jeju = [33.4999506, 126.5302894];

            //panTo(x,y)의 좌표를 설정하는 메서드
            function setDir(location){
                var moveLatLon = new kakao.maps.LatLng(location[0], location[1])
                map.panTo(moveLatLon);
            }

            kakao.maps.load(()=> {

               var mapContainer = document.getElementById('map1'), // 지도를 표시할 div
                    mapOption = {
                        center: new kakao.maps.LatLng(37.5666103, 126.9783882), // 지도의 중심좌표
                        level: 3 // 지도의 확대 레벨
                    };
                map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
            })

            function panTo(x, y) {
                    // 이동할 위도 경도 위치를 생성합니다
                    var moveLatLon = new kakao.maps.LatLng(x, y);

                    // 지도 중심을 부드럽게 이동시킵니다
                    // 만약 이동할 거리가 지도 화면보다 크면 부드러운 효과 없이 이동합니다
                    map.panTo(moveLatLon);  //우리가 정의 해준 것이 아니라 카카오 측에서 만든 메서드라 이름을 같게 하는 것이 아니었다.
            }
            
           

        </script>
    </th:block>
</body>
</html>