    @charset "UTF-8";
    
.content_wrap{

}

	.profile_text{display: flex;}

    .All{width: 1500px; margin-left: auto; margin-right: auto;}
    .profile{margin-top: 255px;}
    .User_profile{width: 1500px; height: 500px; margin-bottom: 30px;}

    .pr_back{width: 1500px; height: 300px; border-radius: 5px; border: 1px solid #C3C3C3;}
    .pr_line{width: 1500px; height: 5px; background-color: #d2d2d2;}
    .pr_img{width: 300px; height: 300px; border-radius: 50%; background-color: black;
    position: relative; left: 50px; bottom: 149px;}
    .pr_img2{width: 280px; height: 280px; border-radius: 50%; background-color: rgb(255, 255, 255);
    position: relative; top: 10px; left: 9.5px;}

    .pageIntro{position: relative; left: 390px; bottom: 375px;}
    .pagename{width: 1200px; display: inline-flex; margin-bottom: 10px;}
    .pagename p{font-size: 30px; width: 120px;}
    .slash{width: 2.5px; height: 30px; background-color: rgb(26, 24, 24);
    margin: 7 30 0 5px;}
    .introbox{padding-top: 40px;}
    
    .introCon{width: 975px; height: 150px; border: black;}    
    .localbox{display: flex;}

    .br_no{border: none; background-color: transparent;}
    .alert{width: 60px; height: 60px; position: relative; bottom: 10px;}
    .storage{width: 50px; height: 48px; margin-left: 5px;
    position: relative; bottom: 17px;}

    .icon_bottom{width: 120px; height: 55px; position: relative; top: 30px;
    border: none; background-color: rgb(178, 216, 101); border-radius: 5px;}
    .icon_bottom a{padding-left: 0px;}

    .profile_text a{text-decoration:none; font-size: 18px; color: white;}
    .line{width: 1500px; margin-top: 40px; margin-bottom: 40px;}
    .line1{width: 1500px; margin-top: 95px; margin-bottom: 40px;}
    .textbox{padding: 40px;}
    .map{width: 1000px; height: 500px; border: 1px solid #C3C3C3;
    border-radius: 5px; margin: 20px 0px 20px 254px;}

    .seloption{height:30px; position: relative; top: 40px; left: 1065px;}

    .total_user_container{margin-left: 91px; margin-bottom: 60px;}
    .user_container{width: 1320px; height: 585px; border: 1px solid #C3C3C3;
    display: inline-flex; border-radius: 5px; margin-top: 25px;}
    .mainbox{width: 1000px; height: 450px; padding: 20 0 0 40px;}
    .storebox{margin-left: 45px; padding: 0 0 10 0px;}

    .shopname{font-size: 30px; font-weight: bold;}
    .storage1_1{background-color: transparent; border: none; position: relative;
        top: 5px; left: 883.5px;}
    .storage1_2{background-color: transparent; border: none; position: relative;
        top: 5px; left: 913px;}
    .storage1_3{background-color: transparent; border: none; position: relative;
        top: 5px; left: 828px;}
    .storage2{width: 30px; height: 28px;}

    .photobox{height: 350px; display:inline-flex;}
    .storepic1{width: 349px; height: 350px; margin-left: 48px; border-radius: 5px; border: 1px solid #C3C3C3;}
    .storepic{width: 350px; height: 350px; margin-left: 48px; border-radius: 5px;}
    .btn{width: 100px; height: 30px; margin-left: 1100px; background-color: white;
	border-radius: 10px; border: 1px solid #C3C3C3;}

    .postlistbox{padding: 50 0 50 30px;}
    .seloption1{margin-left: 61px; height: 30px;}
    .postnum{border: none; width: 80px; margin-left: 550px;}
	
	.listopen{border:none; width:70px; text-decoration: underline;
	margin-left:1145px; background-color:white;}
    .postlist{width: 1320px; border: 1px solid #C3C3C3; border-radius: 5px; 
    margin-left: 58px;}

    .a{width: 800px; height: 30px;}
	.b{width: 100px; height: 30px;}
	.c{width: 300px; height: 30px;}
    .d{margin-left: 15px; background-color: white; border: none;}

    .pagenum{margin: 30px 0px 0px 555px;}