#side_wrap h2{
    display: inline;
}
#side_wrap{
    margin: 25px;
    position: sticky;
    top: 210px;
    transition: top 0.5s;
}
div{
    display: block;
}
.side_container{
    width: 200px;
    position: relative;
    top:10px;
    transition: 0.3s;
}
.sideHoverAction{
	top: 375px !important;
}
.myPage.side.addCate{
    cursor:pointer;
}
.addCate:hover{
    color: aquamarine;
}
.cateAddBox{
    cursor: pointer;
    padding: 4px;
    width: 20px;
    position: relative;
    left: 88%;
}
.cateAddBox:hover{
    opacity: 0.8;
}
.side_editBox{
    cursor: pointer;
    width: 20px;
    padding: 4px;
    position: absolute;
    top: 40px;
    right: 10px;
}
.eachList_content.focusCate{
    border:none;
    background:none;
}
.eachList_content{
    border:none;
    background:none;
}
.eachList_content:focus{
    border:none;
    background:none;
    outline: none;
}
.eachList{
    margin:0 0 3px 0;
    
}
.focusCate{
    background-color: rgba(153, 153, 153, 0.63);
}












