<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="UTF-8">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <title>Title</title>

        <!-- JS, Popper.js, and jQuery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="https://kit.fontawesome.com/2c827c8cca.js" crossorigin="anonymous"></script>

        <th:block layout:fragment="css"></th:block>
    </head>

    <body>
        <div layout:fragment="content" class="content"></div>

        <th:block layout:fragment="script"></th:block>
    </body>

</html>