<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Title</title>

    <!-- CSS only -->
    <!-- 링크 써야 아이콘이 들어감!! -->
    <link th:href="@{/css/layouts/myPageLayout.css}" rel="stylesheet">
    <link th:href="@{/css/fragments/header.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/fragments/footer.css}" rel="stylesheet" type="text/css" />


    <!-- JS, Popper.js, and jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://kit.fontawesome.com/2c827c8cca.js" crossorigin="anonymous"></script>
    <!-- css -->
    <th:block layout:fragment="content_css"></th:block>

</head>

<body>
<div class="container">
    <!-- 헤더 영역 -->
    <th:block th:replace="~{fragments/header :: header}"></th:block>
    <div class="myPage_layout_row">
        <div class="myPage_sideBar">
            <th:block th:replace="~{fragments/myPage_sideBar :: myPageSide}"></th:block>
        </div>
            <!-- 컨텐츠 영역 -->
        <div class="individual_content">
            <th:block layout:fragment="content"></th:block>
        </div>
        
    </div>
    <!-- 푸터 메뉴 영역 -->
    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
</div>
<!-- js -->
<script type="text/javascript" th:src="@{/script/fragments/header.js}"></script>
<th:block layout:fragment="content_js"></th:block>
</body>

</html>