<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Title</title>

    <!-- CSS only -->
    <!-- 링크 써야 아이콘이 들어감!! -->
    <link th:href="@{/css/layouts/myPageLayout.css}" rel="stylesheet">
    <link th:href="@{/css/fragments/myPage_header.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/fragments/footer.css}" rel="stylesheet" type="text/css" />


    <!-- JS, Popper.js, and jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://kit.fontawesome.com/2c827c8cca.js" crossorigin="anonymous"></script>
    <!-- css -->
    <th:block layout:fragment="content_css"></th:block>

</head>

<body>
<div class="container_all">
    <div class="screenBlock blind"></div>
    <div class="blind alertDelete action">
        <p class="alertContent">
            정말 삭제하시겠습니까?
        </p>
        <div class="buttonBox">
            <button class="alertBtn yesBtn" onclick="deleteTagConfirm(this,true)">네</button>
            <button class="alertBtn noBtn" onclick="deleteTagConfirm(this,false)">아니요</button>
        </div>
    </div>
    <!-- 헤더 영역 -->
    <th:block th:replace="~{fragments/myPage_header :: header}"></th:block>
    <div class="main_container">
        <div class="myPage_layout_row">
            <div class="myPage_sideBar">
                <th:block th:replace="~{fragments/myPage_sideBar :: myPageSide}"></th:block>
            </div>
                <!-- 컨텐츠 영역 -->
            <div class="individual_content">
                <th:block layout:fragment="content"></th:block>
            </div>
            <div class="side_bar">
                <th:block th:replace="fragments/sideBar::sideBar"></th:block>
            </div>
            
        </div>
    </div>
    <!-- 푸터 메뉴 영역 -->
    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
</div>
<!-- js -->
<script type="text/javascript" th:src="@{/script/fragments/sideBar.js}"></script>
<script type="text/javascript" th:src="@{/script/individual/myPage.js}"></script>
<script type="text/javascript" th:src="@{/script/fragments/myPage_header.js}"></script>
<script type="text/javascript" th:src="@{/script/individual/profile_replaceInput.js}"></script>

<th:block layout:fragment="content_js"></th:block>
</body>

</html>