<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


    <meta charset="UTF-8">
    <title></title>

    <!-- css 영역 -->
    <th:block layout:fragment="content_css">
    </th:block>

</head>

<body>
    <th:block th:fragment="myPageSide">
        <link rel="stylesheet" href="/css/individual/myPageSide.css">
        <div id="side_wrap">
            <div class="side_container">
                <div class="in_side_title">
                    <h2>카테고리</h2>
                    <span>category</span>
                </div>
                <div class="side_editBox" onclick="sideEdit(this)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg>
                </div>
                <div class="myPageSide cateList">
                    <hr>
                    <p th:if="${cateList != null}" th:each="each, state : ${cateList}">
                        
                    </p>
                    <!-- <p sec:authorize="isAuthenticated()" class="myPage side addCate" onclick="addCate(this)" th:if="${cateList == null}">
                        카테고리 등록
                    </p> -->
                    
                </div>
                <div class="cateAddBox blind" onclick="addCate()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                      </svg>
                </div>
            </div>
        </div>
        <div class="blind alertDelete action">
            <p class="alertContent">
                정말 삭제하시겠습니까?
            </p>
            <div class="buttonBox">
                <button class="alertBtn yesBtn">네</button>
                <button class="alertBtn noBtn">아니요</button>
            </div>
        </div>
        <script src="/script/individual/myPageSide.js"></script>
    </th:block>
</body>

<!-- js 영역 -->
<th:block layout:fragment="content_js">
</th:block>

</html>