<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


    <meta charset="UTF-8">
    <title></title>

    <!-- css 영역 -->
    <th:block layout:fragment="content_css">
    </th:block>

</head>

<body>
    <th:block th:fragment="myPageSide">
        <link rel="stylesheet" href="/css/individual/myPageSide.css">
        <div id="side_wrap">
            <div class="side_container">
                <div class="in_side_title">
                    <h2>카테고리</h2>
                    <span>category</span>
                </div>
                <div class="myPageSide cateList">
                    <hr>
                    <p th:if="${cateList != null}" th:each="each, state : ${cateList}">
                        
                    </p>
                    <p sec:authorize="isAuthenticated()" class="myPage side addCate" onclick="addCate(this)" th:if="${cateList == null}">
                        카테고리 등록
                    </p>
                    <div></div>
                </div>
            </div>
        </div>
        <script src="/script/individual/myPageSide.js"></script>
    </th:block>
</body>

<!-- js 영역 -->
<th:block layout:fragment="content_js">
</th:block>

</html>